<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card mt-2">
                <div class="card-header">
                    <div class="text-center">
                        <h4 class="mt-2">Recuperação de Senha</h4>
                        <p>Entre com os seus email para recuperar sua senha.</p>
                    </div>
                </div>
                <div class="card-body">

                    <form>

                        <div class="form-group mb-2">
                            <label for="email">E-mail:</label>
                            <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail">
                        </div>

                        <div class="d-grid mb-2">
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>

                        <div class="d-grid mb-2">
                            <a href="/Account/Login" class="btn btn-light">
                                Já possui conta? <strong>Acesse aqui!</strong>
                            </a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>